# SPDX-FileCopyrightText: 2026 LibreSign
# SPDX-License-Identifier: AGPL-3.0-or-later

/vendor/
/vendor-bin/**/vendor/
/vendor-bin/**/composer.lock
/composer.lock
/build/
/.phpunit.result.cache
/.infection.cache
/.idea/
/.env
/.benchmarks/
/.profile/
